*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(-89deg ,rgb(47,150,163), rgb(48,62,143));
    color: #fff;
    height: 100%;
}

.holder{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color:rgba(171, 191, 207, 0.662);
}

.loader{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0;
    background: #fff;
    animation: fader 1.8s linear infinite;
}

.loader1{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0;
    background: #fff;
    animation: fader 1.8s linear infinite;
    animation-delay: 0.8s;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.condition{
    display: flex;
}

.condition div{
    text-align: center;
    width: 150px;
    margin: 30px;
    font-size: 16px;
    padding: 5px;
    border: solid 1px #fff;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.26), 0 3px 6px rgba(0, 0, 0, 0.5);
}
    
.search{
    background-color: rgb(245, 238, 238);
    margin: 60px 0 40px 0;
    width: 450px;
    font-size: 18px;
    padding: 6px 15px;
    border: solid 1px #fff;
    border-radius: 5px;
    outline: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.26), 0 3px 6px rgba(0, 0, 0, 0.5);
}

.place-name p{
    font-size: 3rem;
    margin-top: 40px;
}

.weather{
    display: flex;
    margin: 30px 0;
    transition: 0.5s;
}

.temperature{
    margin: 60px 40px;
    display: inline-flex;
}

.temperature p{
    font-size: 2.5rem;
}

.temperature span{
    font-size: 1.2rem;
    margin-top: 5px;
}

.image{
    width: 190px;
}


@keyframes fader{
    0%{
        opacity: 1;
        transform: scale(0);
    }
    100%{
        opacity: 0;
        transform: scale(1);
    }
}


@media (max-width: 660px){
    .search{
        width: 300px;
    }

    .temperature p{
        font-size: 2rem;
    }
    
    .temperature span{
        font-size: 1rem;
        margin-top: 5px;
    }
    
    .image{
        width: 160px;
    }

    .condition div{
        width: 90px;
        margin: 5px;
        font-size: 12px;
    }
}
